
  <div><strong><%-title%></strong></div><hr>

  <button type="button" id="add-contr">
    <span class="fa fa-user-plus"></span>&nbsp;<%-button_add_contractor%>
  </button><br>

  <div class="form-for-add-contr"></div><br>

  <button type="button" id="make-contr">
    <span class="fa fa-university"></span>&nbsp;<%-button_make_contractor%>
  </button>

  <div class="form-for-make-contr"></div><br><br>

  <button type="button" id="filter-list">
    <span class="fa fa-filter"></span>&nbsp;<%-button_filter%>
  </button>

  <div class="form-for-filter"></div><br><br>

  <button type="button" id="search-apps">
    <span class="fa fa-search"></span>&nbsp;<%-button_search%>
  </button>

  <div class="form-for-search"></div>

