<span id="modal_close">&times;</span> <!-- Кнoпкa зaкрыть -->
<div class="modal-content">
  <h3><%-title%></h3><hr>
  <div><%-contractor%></div>
  <select id="contractors"></select><br><br>
  <div><%-info%></div>
  <textarea class="comment"></textarea>
  <div><%-priority%></div>
  <select id="priority">
    <option><%-item1%></option>
    <option><%-item2%></option>
    <option><%-item3%></option>
  </select><br><br>
  <div><%-estimated%></div>
  <input type="text" id="estimated"><br><br>
  <div><%-deadline%></div>
  <input type="text" id="deadline"><br><br>
  <button type="button" id="create_app">
    <span class="fa fa-plus"></span>&nbsp;<%-button_add%>
  </button>
</div>
